<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f4edc17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <title>Home</title>
</head>

<body>
    <!-- Header -->
    <header id="header-home">
        <div class="container">
            <nav id="main-nav">
                <!-- <img src="resources/img/logo.png" alt="My Portfolio" id="logo"> -->
                <div class="container1">
                    <a href="https://www.nitj.ac.in/" target="_blank"><img src="nitjlogo.png"  alt="NITJ" height="60px" width="20px"></a>       
                </div>
                <ul>
                    <li><a href="/demo2.ejs" class="current">Home</a></li>
                    <form method="post" action="/apply">
                        <li><a href="/apply">Apply for Gate Pass</a></li>
                     </form>
                     <form method="post" action="/status">
                        <li><a href="/status" >Check Status</a></li>
                     </form>
                  
                     <form  action="/">
                        <li ><a href="#" onclick="myFunction()">LogOut</a></li>
                     </form>
                </ul>
            </nav>
            <div class="header-content">
                <% if (data.name!==null) { %>
                    <h1 class="header">Welcome Back <p id="name" style="display:contents"><%=data.name%></p></h1>
                    <div id="roll" style="display : none"><%=data.roll%></div>
                    <%} else { %>
                       
                        <h1 class="header">Welcome Back <p id="name2" style="display:contents"></p></h1>
                    
                    <% } %>
                 
                <p class="lead">It's been a while since you bunked classes, how about we try to get you a gatepass. <br>LET'S GO!!!
                </p>
                <script>
                    
                    if (sessionStorage.getItem("user")) {
                        // name.value = sessionStorage.getItem("user");
                        // console.log(name);
                        console.log(sessionStorage.getItem("user"))
                        if(sessionStorage.getItem("user")==="null"){
                            console.log("in if")
                            sessionStorage.clear();
                            // if(window.location.href==='http://localhost:3000/shome')
                            // window.location.replace('http://localhost:3000/slogin')
                            window.location.replace('https://gate-pass-nitj.onrender.com/slogin')
                            // else window.location.replace('http://192.168.43.237:3000/slogin')
                            
                        }
                        // console.log('roll: ',roll);
                        document.getElementById('name2').innerHTML= sessionStorage.getItem("user");
                    }
                    else{
                        var name="null";
                        var roll="null";
                        if(document.getElementById("name") && document.getElementById("roll")){
                            
                            name=document.getElementById("name").innerHTML;
                            roll=document.getElementById("roll").innerHTML;
                            sessionStorage.clear();
                            sessionStorage.setItem("user",name);
                            sessionStorage.setItem("roll",roll);
                        }

                        if(name==="null" || roll==="null"){
                            console.log("in else")
                            // if(window.location.href==='http://localhost:3000/shome')
                            // window.location.replace('http://localhost:3000/slogin')
                            window.location.replace('https://gate-pass-nitj.onrender.com/slogin')
                            // else window.location.replace('http://192.168.43.237:3000/slogin')
                                                    }
                        // document.getElementById('name').innerHTML=name.innerHTML
                    }
                    </script>
            </div>
        </div>
    </header>

    <!-- Section A (Specialize)-->
    <section id="home-a" class="text-center py-2 dark-font">
        <div class="container">
            <h2 class="section-title">Gate Pass Rules</h2>
            <div class="bottom-line"></div>

            <div class="specials">
                <div>
                    <!-- <i class="fas fa-solid fa-3x my-1"></i> -->
                    <i class="fas fa-desktop fa-3x my-1"></i>
                    <h3>Rule 1</h3>
                    <p>A gate pass can only be used once.</p>
                </div>
                
                <div>
                    <i class="fas fa-server fa-3x my-1"></i>
                    <h3>Rule 2</h3>
                    <p>No gate pass will generated after 8PM.</p>
                </div>

                <div>
                    <i class="fas fa-wrench fa-3x my-1"></i>
                    <h3>Rule 3</h3>
                    <p>Your gate pass should be approved by hostel admin before you go out. </p>
                </div>
                <div>
                    <i class="fas fa-database fa-3x my-1"></i>
                    <h3>Rule 4</h3>
                    <p>You have return to hostel before 9PM(if not on leave).</p>
                </div>
                
            </div>
        </div>
    </section>
    
    
    <!-- Footer -->
    <footer id="main-footer">
        <div class="footer-content">
            <p>Copyright &copy; 2023, All Rights Reserved</p>
            <div class="social">
                <a href="https://twitter.com/NITJofficial" target="_blank"><i class="fab fa-twitter" style="display: inline;"></i></a>
                <a href="https://www.facebook.com/NITJofficial/" target="_blank"><i class="fab fa-facebook" style="display: inline;"></i></a>
                <a href="https://www.instagram.com/nitjofficial/" target="_blank"><i class="fab fa-instagram" style="display: inline;"></i></a>
                <a href="https://www.linkedin.com/school/dr-b-r-ambedkar-national-institute-of-technology-jalandhar-official/" target="_blank"><i class="fab fa-linkedin" style="display: inline;"></i></a>
                <a href="https://github.com/GDSC-NITJ/" target="_blank"><i class="fab fa-github" style="display: inline;"></i></a>
            </div>
        </div>
    </footer>

    <script>
        function myFunction(){
            sessionStorage.clear();
            window.location.replace('https://gate-pass-nitj.onrender.com/')
            
        }
        const upout=async()=>{
                let un=sessionStorage.getItem("roll");
                
                console.log(un)
                // const response=await fetch("http://localhost:3000/status",{
                //     method:'GET',
                //     headers:{
                //         'Content-Type':'application/json',
                //         'un':un
                //     },
                //     // body:JSON.stringify({un:un})
                // })
                // const json=await response
                // console.log(json)
                // window.location.replace('http://localhost:3000/status')
                window.location.replace('https://gate-pass-nitj.onrender.com/status')
            }



    </script>
    
</body>

</html>