<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b3f4edc17e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="new.css">
    <link rel="stylesheet" href="alert.css">
    <!-- <link rel="stylesheet" href="/static/login.css"> -->
    <title>Student-Login</title>
    
    
</head>
<body>
    <header id="header-inner">
        <div class="container">
            <nav id="main-nav">
                <div class="container1">
                    <a href="https://www.nitj.ac.in/" target="_blank"><img src="nitjlogo.png"  alt="NITJ" height="60px" width="20px"></a>       
                </div>
                <ul>
                    <li><a href="/" >Home</a></li>
                    <form method="post" action="/slogin">
                        <li><a href="/slogin" class="current">Student</a></li>
                     </form>
                    <form method="post" action="/tlogin">
                        <li><a href="/tlogin">Hostel</a></li>
                     </form>
                    <form method="post" action="/hlogin">
                        <li><a href="/hlogin">Admin</a></li>
                     </form>
                    <form method="post" action="/glogin">
                        <li><a href="/glogin">Gate</a></li>
                     </form>
               
                </ul>
        </div>
    </header>

    <!-- <section id="contact-a" class="text-center py-2"> -->
        <% if (message!==null) { %>
            <div class="alert error disp">
                <input type="checkbox" id="alert1"/>
            <label class="close" title="close" for="alert1">
              <i class="icon-remove"></i>
            </label>
                <p class="inner para">
                    <%=message%>
                </p>
            </div>
            <%}else { %>
                <div class="alert error disp2">
                    <input type="checkbox" id="alert1"/>
                <label class="close" title="close" for="alert1">
                  <i class="icon-remove"></i>
                </label>

                </div>
                    <% } %>
                 
             %>
        <div class="maindiv" style="height:36.4rem;">
        <div class="main">  	
            <input type="checkbox" id="chk" aria-hidden="true">
            <div class="signup">
                <form action="/shome" method="post">
                    <label for="chk" aria-hidden="true">Login</label>
                    <input type="text" name="roll" placeholder="Roll No." id="roll" required>
                    <input type="password" name="password" placeholder="Password" id="password" required>
                    <button type="submit" value="Login" >Login</button>
                    
                </form>
            </div>
            <div class="login">
                <form action="/register" method="post">
                    <label for="chk" aria-hidden="true">Sign up</label>
                    <input type="text" name="username" placeholder="Enter your name" id="username" required>
                    <input type="text" name="roll" placeholder="Enter your 8 digit roll no." id="roll"  required>
                    <input type="password" name="password" placeholder="Password" id="password"  required>
                    <input type="password" name="confirm_password" placeholder="Confirm Password" id="password" required>
                    
                    <button type="submit">Sign up</button>
                  </form>
                </div>
    
               
        </div>
    </div>
    <!-- </section> -->


    
    <!-- Footer -->
    <footer id="main-footer">
        <div class="footer-content">
            <p>Copyright &copy; 2023, All Rights Reserved</p>
            <div class="social">
                <a href="https://twitter.com/NITJofficial" target="_blank"><i class="fab fa-twitter" style="display: inline;"></i></a>
                <a href="https://www.facebook.com/NITJofficial/" target="_blank"><i class="fab fa-facebook" style="display: inline;"></i></a>
                <a href="https://www.instagram.com/nitjofficial/" target="_blank"><i class="fab fa-instagram" style="display: inline;"></i></a>
                <a href="https://www.linkedin.com/school/dr-b-r-ambedkar-national-institute-of-technology-jalandhar-official/" target="_blank"><i class="fab fa-linkedin" style="display: inline;"></i></a>
                <a href="https://github.com/GDSC-NITJ/" target="_blank"><i class="fab fa-github" style="display: inline;"></i></a>
            </div>
        </div>
    </footer>


    <!-- Main Script File -->
</body>
</html>